:root {
  --primary-background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

body,
html {
  margin: 0;
  padding: 0;
  /* background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%); */
}

.bgImage {
  background-image: url("img/blissthree.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  filter: blur(4px);
}

* {
  font-family: "Montserrat", sans-serif;
}

*:focus {
  outline: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.search {
  font-size: 1rem;
  background: transparent;
  width: 25px;
  height: 25px;
  padding: 10px;
  border: solid 3px white;
  outline: none;
  border-radius: 35px;
  /* box-shadow: 0 1px #0091c2; */
  transition: width 0.5s;
}
.search::placeholder {
  opacity: 0;
}
.search:focus::placeholder,
.search:hover::placeholder {
  color: white;
  opacity: 1;
}
.search:focus,
.search:hover {
  width: 100%;
}

h1,
p {
  margin-block-end: 0;
  margin-block-start: 0;
}

input,
textarea {
  height: 2.5em;
  width: 20em;
  border: none;
  margin: 0 0.5em;
  border-radius: 0.3em;
  padding-left: 0.8em;
  padding-right: 0.8em;
}

textarea {
  height: 5em;
  width: 20em;
}

button {
  height: 2.2rem;
  border-width: 0;
  border-color: none;
  border-style: solid;
  border-radius: 0.3em;
  background: white;
  min-width: 50px;
}

.red {
  background: red !important;
}

.button:hover {
  background-color: #c8c8c8 !important;
}

.modal {
  border-radius: 0.3em;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: 4px;
  top: 4px;
  font-size: 24px;
}
.detailView {
  background: var(--primary-background);
}

.detailView > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: 4px;
  top: 4px;
  font-size: 2rem;
}

.divCard {
  border-radius: 0.3em;
  padding: 1.5em;
}

.popup-content {
  border-radius: 0.3em;
  background: var(--primary-background) !important;
  border: none !important;
  min-width: 30%;
  width: fit-content !important;
}

.titleText {
  font-weight: bold;
  color: white;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.auctionItem {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}

.auctionItem::before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.7);
  margin: -20px;
}
.auctionItem:hover{
  transform: scale(1.02);
}
